<ul id="comment-area">
    <li *ngFor="let comment of commentList | async" class="comment">
        <div fxLayoutAlign="row center">
            <h4>{{comment.username}}</h4>
            <ratel-operate-comment [comment]="comment" (delete)="onDelete(comment)"></ratel-operate-comment>
        </div>

        <markdown [data]="comment.content" class="content"></markdown>

        <ul *ngIf="!!comment.replies.length" class="reply-area">

            <li *ngFor="let reply of comment.replies">

                <p>
                    <span>
                        <a (click)="comment.openReply = !comment.openReply; setTarget(comment.id, reply.fromUser)">
                            <b>{{reply.fromUser}}</b>
                        </a>
                        <span>回复</span>
                        <b>{{reply.toUser}}</b>
                    </span>

                    <ratel-operate-comment [comment]="reply" (delete)="onDelete(reply)"></ratel-operate-comment>

                    <a *ngIf="canReply(reply)" (click)="reply.openReply = !reply.openReply"></a>
                </p>

                <markdown [data]="reply.content" class="content"></markdown>
            </li>

        </ul>

        <div fxLayoutAlign="row center" class="interact">
            <div fxLayoutAlign="center center" class="like">
                <mat-icon fontIcon="icon-give-five" (click)="enjoyComment()"></mat-icon>
            </div>

            <span>9</span>

            <a *ngIf="canReply(comment)" (click)="comment.openReply = !comment.openReply; setTarget(comment.id, comment.username, comment.userId)">
                <mat-icon fontIcon="icon-paperplane"></mat-icon>
                <span>回复</span>
            </a>

        </div>

        <ratel-reply *ngIf="comment.openReply && canReply(comment)" [placeholder]="target?.toUser" (switchTo)="switchToImageTextModel()"></ratel-reply>
    </li>
</ul>
