@import '../../../theme/_variable.theme';

nav {
    padding: 0 100px;
    height: $header-height;
    background: #000;
    margin-bottom: 10px;

    .header {
        margin: 0 auto;
        .logo {
            height: 4rem;
            margin: 0 1rem 0 0;
        }
    }

    .action {
        height: $header-height;
        color: $inactive-color;
        mat-icon {
            margin: 0 1rem;
            cursor: pointer;
            &:hover {
                color: $active-color;
            }
        }
        img {
            @include avatar();
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 2px 2px $inactive-color;
            }
            & + span {
                margin-left: 1rem;
            }
        }
        .edit {
            margin: 0;
        }
        .editing {
            color: #fff;
        }
    }
}

::ng-deep .mat-menu-panel {
    transform: translateY(22px);
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
    .action {
        & > mat-form-field,
        & > mat-icon {
            display: none;
        }
    }
}
