<div fxLayout="column" fxLayoutAlign="center start" class="reply">
    <div fxLayoutAlign="row center" class='trigger'>
        <div class="avatar">
            <mat-icon *ngIf="!user else avatarImage" fontIcon="icon-user-circle-o"></mat-icon>
            <ng-template #avatarImage>
                <img [src]="user.avatar">
            </ng-template>
        </div>
        <div [attr.contenteditable]="contentEditable" #trigger (focus)="onFocus($event)">{{placeholder}}</div>
        <mat-icon *ngIf="isComment && !contentEditable" fontIcon="icon-closecircle" (click)="closeReply()" class="close-btn"></mat-icon>
    </div>

    <ng-container *ngIf="allowComment">
        <textarea #area matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="20" [(ngModel)]="content"></textarea>

        <div class="btn-group ratel-form-field">
            <button mat-stroked-button [disabled]="!content || content.length < 5" (click)="submit$.next(true)">提交</button>
            <button mat-stroked-button (click)="switchTo.next(true)">图文模式</button>
        </div>
    </ng-container>
</div>
