<div *ngIf="article | async as data" class="article">
    <div class="content">
        <h2>{{data.title}}</h2>
        <h4>{{data.subtitle}}</h4>
        <ul fxLayout="row" class="info">
            <li>作者：{{data.author}}</li>
            <li>创建时间：{{data.createdAt}}</li>
            <li [hidden]="!data.updatedAt">更新时间：{{data.updatedAt}}</li>
            <li [hidden]="!data.isOriginal">
                <ratel-tag content="原创"></ratel-tag>
                转载请注明出处：www.hijavascript.com
            </li>
        </ul>

        <markdown [data]="data.content"></markdown>
    </div>

    <ul class="statistics">
        <div [@giveMeFive]="like">{{like}}</div>

        <li fxLayoutAlign="center center">
            <mat-icon fontIcon="icon-give-five" (click)="addLike(data.statistics.id)"></mat-icon>
        </li>

        <!--TODO:登录后的用户可以收藏-->
        <li fxLayout="column" fxLayoutAlign="center center">
            <mat-icon fontIcon="icon-star" matTooltip="收藏"></mat-icon>
        </li>
    </ul>
</div>

<div class="discuss">
    <ratel-reply [isComment]="true" (switchTo)="switchToImageTextModel()"></ratel-reply>

    <ratel-comment></ratel-comment>
</div>
