<div fxLayout="row no-wrap" class="bar">
    <a *ngFor="let topic of topics" (click)="onTopicSelect(topic)" [ngStyle]="{color: topic.selected ? '#fff' : '#c7c2c7'}">
        {{topic.label}}
        <i [ngClass]="{active: topic.selected}" [@moduleState]="topic.selected ? 'active' : 'inactive'"></i>
    </a>
</div>

<div class="menu">
    <mat-icon fontIcon="icon-bars" [matMenuTriggerFor]="menu"></mat-icon>
    <mat-menu yPosition="below" #menu="matMenu">
        <button mat-menu-item *ngFor="let topic of topics" (click)="onTopicSelect(topic)">{{topic.label}}</button>
    </mat-menu>
</div>
