@import '../../../theme/_variable.theme';
.overview {
    margin: 1rem 0;
    background: $active-color;
    padding: 1rem 2rem;
    cursor: pointer;
    h4,
    h6,
    h3 {
        margin: 0;
    }
    .author {
        margin: 0 0 0 1em;
    }
    .title {
        margin: 1em;
        text-indent: 1em;
    }
    .summary {
        text-indent: 2em;
        line-height: 2;
        span {
            display: inline-block;
            margin-right: 1em;
            color: $inactive-color;
        }
    }
    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    .statistics {
        margin: 1em 0 0 0;
        color: $inactive-color;
        mat-icon {
            font-size: 1rem;
            height: 1rem;
        }
        & > span:first-child {
            margin-right: 2rem;
        }
    }
    div {
        img {
            width: 100%;
        }
    }
}
