<div (click)="view.next(article.id)" class="overview">
    <h3>{{article.title}}</h3>

    <div class="user-info__avatar">
        <img [src]="article.avatar" class="avatar">
        <div>
            <h4>{{article.author}}</h4>
            <h6>{{article.createdAt}}</h6>
        </div>
    </div>


    <div>
        <li class="summary">
            <ng-container *ratelShellNoRender>
                <markdown [data]="article.summary"></markdown>
            </ng-container>

            <p *ratelShellRender>{{article.summary}}</p>
            <span>更多内容···</span>
        </li>
        <li class="statistics">
            <span>
                <mat-icon fontIcon="icon-eyeo"></mat-icon>
                <span>{{article.statistics?.view}}</span>
            </span>
            <span>
                <mat-icon fontIcon="icon-give-five"></mat-icon>
                <span>{{article.statistics?.enjoy}}</span>
            </span>
        </li>

    </div>

    <img class="article--image__thumbnail" [src]="image">
</div>
