@import '../../../theme/_variable.theme';
@media screen and (max-width: 800px) {
    .overview .user-info__avatar h4 {
        flex: 1;
    }
}
.overview {
    list-style: none;
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 70% 1fr;
    margin: 1rem 0;
    // background: $active-color;
    padding: 1rem 2rem;
    cursor: pointer;

    .article--image__thumbnail {
        max-width: 100%;
        height: auto;
    }
    .author {
        margin: 0 0 0 1em;
    }
    .user-info__avatar {
        display: flex;
        align-items: center;
        h4 {
            font-size: 12px;
            flex: 2;
        }
        h6 {
            font-size: 12px;
        }
        .avatar {
            $size: 32px;
            width: $size;
            height: $size;
            border-radius: 50%;
        }
    }
    .title {
        margin: 1em;
        text-indent: 1em;
    }
    .summary {
        text-indent: 2em;
        line-height: 2;
        span {
            display: inline-block;
            margin-right: 1em;
            color: $inactive-color;
        }
    }
    .statistics {
        margin: 1em 0 0 0;
        color: $inactive-color;
        mat-icon {
            font-size: 1rem;
            height: 1rem;
        }
        & > span:first-child {
            margin-right: 2rem;
        }
    }
}
