<div fxLayout="row" (click)="view.next(article.id)" class="overview">
    <ul fxFlex=70%>
        <li fxLayout="row" class="create">
            <img [src]="article.avatar" class="avatar">
            <div fxLayout="column" fxLayoutAlign="center start" class="author">
                <h4>{{article.author}}</h4>
                <h6>{{article.createdAt}}</h6>
            </div>
        </li>
        <li class="title">
            <h3>{{article.title}}</h3>
        </li>
        <li class="summary">
            <markdown [data]="article.summary"></markdown>
            <span>更多内容···</span>
        </li>
        <li class="statistics">
            <span>
                <mat-icon fontIcon="icon-eyeo"></mat-icon>
                <span>{{article.statistics?.view}}</span>
            </span>
            <span>
                <mat-icon fontIcon="icon-give-five"></mat-icon>
                <span>{{article.statistics?.enjoy}}</span>
            </span>
        </li>
    </ul>
    <div fxFlex="30%" fxFlexOffset="14px" fxLayoutAlign="start center">
        <img mat-card-image [src]="'../../../assets/images/' + image">
    </div>
</div>
