
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="bookmarks | async" matSort>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> 标题 </th>
            <td mat-cell *matCellDef="let element" class="title"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 作者 </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>

        <ng-container matColumnDef="operate">
            <th mat-header-cell *matHeaderCellDef> 操作 </th>
            <td mat-cell *matCellDef="let element"> <mat-icon fontIcon="icon-staro" color="primary" (click)="remove(element);$event.stopPropagation()"></mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/home', row.id]">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
</div>
