.mat-elevation-z8 {
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 15%;
    &:first-child {
        width: 50%;
    }
    &:last-child {
        width: 10%;
    }
    color: rgba($color: #fff, $alpha: 0.8);
}

th:last-child {
    text-align: center;
}

tr {
    cursor: pointer;
    &:hover {
        td {
            color: #fff;
        }
    }
    td:not(.title) {
        text-align: center;
    }
}

mat-icon {
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

::ng-deep .mat-sort-header-container {
    justify-content: center;
}

.paginator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
