<div class="mat-elevation-z8">
    <table mat-table [dataSource]="articles | async" matSort>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>标题</th>
            <td mat-cell *matCellDef="let row" class="title">{{ row.title }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>创建时间</th>
            <td mat-cell *matCellDef="let row">{{ row.createdAt }}</td>
        </ng-container>

        <ng-container matColumnDef="isPublished">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>状态</th>
            <td mat-cell *matCellDef="let row">
                <mat-icon
                    [fontIcon]="row.isPublished ? 'icon-checkcircleo' : 'icon-closecircleo'"
                    [color]="row.isPublished ? 'accent' : 'warn'"
                    class="accent"
                ></mat-icon>
                <span>{{row.isPublished ? '已公开' : '未公开'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="operate">
            <th mat-header-cell *matHeaderCellDef>操作</th>
            <td mat-cell *matCellDef="let row">
                <mat-icon fontIcon="icon-edit" color="primary" [routerLink]="['/create', { id: row.id }]"></mat-icon>
                <mat-icon
                    fontIcon="icon-delete"
                    color="primary"
                    (click)="remove(row); $event.stopPropagation()"
                ></mat-icon>
                <mat-icon
                    [fontIcon]="row.isPublished ? 'icon-closecircleo' :  'icon-paperplane'"
                    color="primary"
                    (click)="publish(row); $event.stopPropagation()"
                ></mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="['/home', row.id]"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" class="paginator"></mat-paginator>
</div>
