ul {
    padding: 1em 0;
    cursor: pointer;
    h3 {
        margin-top: 0;
        word-break: break-all;
    }

    .author {
        font-size: 12px;
        span {
            margin-right: 1em;
        }
    }
    .enjoy {
        font-size: 14px;
        line-height: 24px;
        margin-right: 2em;
        mat-icon {
            margin-right: 5px;
        }
    }
}
