@import '../../../theme/_variable.theme';
ul {
    padding: 0 1em;
    background: rgba(#ccc, 0.3);
    color: $active-deep-green;
    li:first-child button {
        @include fileSelectWrapper();
    }
    li:last-child {
        color: $inactive-color;
        font-size: 12px;
        margin-left: 2em;
    }
}

:host::ng-deep .CodeMirror {
    padding: 1em;
    height: 95%;
}

:host {
    display: block;
    height: 100%;
}
