<ul id="intro">
    <li>
        <div class="language-intro">
            <img src="../../../assets/images/typescript.png">
        </div>
        <p>TypeScript 是 JavaScript的超集，它可以编译出纯净、简洁的JavaScript代码。</p>
        <div class="official">
            <mat-icon fontIcon="icon-arrowright"></mat-icon>
            <a href="http://www.typescriptlang.org" target="__blank">官方网站</a>
        </div>
    </li>
    <li>
        <div class="language-intro">
            <img src="../../../assets/images/angular.png" style="width: 150px;">
        </div>
        <p>Angular 是一个开发平台，它能帮你更轻松的构建 Web 应用。</p>
        <div class="official">
            <mat-icon fontIcon="icon-arrowright"></mat-icon>
            <a href="https://angular.io" target="__blank">官方网站</a>
        </div>
    </li>
    <li>
        <div class="language-intro">
            <img src="../../../assets/images/rxjs.png">
        </div>
        <p>RxJS 是JavaScript版本的响应式编程库，它使得编写异步或基于回调的代码更容易。</p>
        <div class="official">
            <mat-icon fontIcon="icon-arrowright"></mat-icon>
            <a href="https://rxjs-dev.firebaseapp.com" target="__blank">官方网站</a>
        </div>
    </li>
</ul>

