$header-height: 76px;
$footer-height: 93px;

$active-primary: #f44336;
$active-accent: #7c4dff;
$active-warn: #efff41;
$active-deep-green: #437780;

$active-color: #fff;
$inactive-color: #c7c2c7;

$active-bcg-primary: #000;
$link-hover: #e9e9e9;

@mixin spreadAnimate($color, $animate) {
    mat-icon {
        color: $color;
        &:hover {
            transform: scale(1.2);
            transition: 0.8s;
        }
    }
    border-color: rgba($color, 0.7);
    &:hover {
        border: 2px solid $color;
        animation: $animate 2s infinite;
    }
}

@mixin likeBtn($size) {
    width: $size;
    height: $size;
    background: #fff;
    border-radius: 50%;
    border: 1px solid;
}

@mixin icon($size) {
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
}

@mixin avatar {
    $length: 32px;
    width: $length;
    height: $length;
    border-radius: $length / 2;
}

@mixin fileSelectWrapper {
    position: relative;
    input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        cursor: pointer;
    }
}
