@import './variable.theme';
@mixin pace-theme() {

    // 备选项 #00f9a6
   .pace .pace-progress {
     background: $active-primary;
   }

   .pace .pace-progress-inner {
     box-shadow: 0 0 10px $active-primary, 0 0 5px $active-primary;
   }

   .pace .pace-activity {
     display: none;
   }
 }
