@import '../../../theme/_variable.theme';

#resource {
    // background: #000;
    padding: 1em 0;

    h2 {
        text-align: center;
        // color: #fff;
    }

    ul {
        padding: 1em;
        li {
            margin: 1em;
            a {
                color: $active-bcg-primary;
                margin: 0 0 0 1em;
                text-decoration: none;
                &:hover, &:active {
                    color: $active-primary;
                    text-decoration: underline;
                }
            }
        }
    }
    img {
        width: 32px;
    }
}
