/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';
@import '../node_modules/codemirror/theme/eclipse';
@import './theme/_variable.theme.scss';
@import './theme/pace.theme.scss';
@include pace-theme();
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: rgba(185, 185, 185, 0.3);
    font-family: consolas, 'Microsoft Yahei', monospace, serif;
    line-height: 1.6;
    tt,
    code,
    kbd,
    samp {
        font-family: consolas, Menlo, 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    }
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-snack {
    background-color: $active-primary;
    color: $active-color;
    opacity: 0.8;
}

.ratel-form-field .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba($active-bcg-primary, 0.3);
}
.ratel-form-field .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $active-bcg-primary;
}
.ratel-form-field {
    .mat-form-field-label,
    .mat-hint {
        color: rgba($active-bcg-primary, 0.7);
    }
}

.ratel-form-field .mat-form-field.mat-focused .mat-form-field-label {
    color: #000;
}

.ratel-form-field .mat-checkbox-frame,
.ratel-form-field .mat-radio-outer-circle {
    border-color: rgba($active-bcg-primary, 0.7);
}

.ratel-form-field {
    .mat-checkbox-mixedmark {
        background-color: $active-color;
    }
    .mat-checkbox-checkmark {
        fill: $active-color;
    }
    .mat-checkbox-checkmark-path {
        stroke: $active-color !important;
    }
}

.ratel-form-field {
    .mat-flat-button.mat-primary[disabled],
    .mat-flat-button.mat-accent[disabled],
    .mat-flat-button.mat-warn[disabled],
    .mat-flat-button[disabled][disabled],
    .mat-raised-button.mat-primary[disabled],
    .mat-raised-button.mat-accent[disabled],
    .mat-raised-button.mat-warn[disabled],
    .mat-raised-button[disabled][disabled],
    .mat-fab.mat-primary[disabled],
    .mat-fab.mat-accent[disabled],
    .mat-fab.mat-warn[disabled],
    .mat-fab[disabled][disabled],
    .mat-mini-fab.mat-primary[disabled],
    .mat-mini-fab.mat-accent[disabled],
    .mat-mini-fab.mat-warn[disabled],
    .mat-mini-fab[disabled][disabled],
    .mat-stroked-button[disabled][disabled] {
        background-color: rgba($inactive-color, 0.8);
    }
}

.ratel-form-field .mat-input-element:disabled,
.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba($active-bcg-primary, 0.5);
}

// 没找到单选按钮禁用状态不显示的原因，所以直接把material theme文件里的代码复制过来了。
.ratel-form-field .mat-radio-disabled {
    &.mat-radio-checked .mat-radio-outer-circle,
    .mat-radio-outer-circle {
        border-color: #686868;
    }

    .mat-radio-ripple .mat-ripple-element,
    .mat-radio-inner-circle {
        background-color: #686868;
    }

    .mat-radio-label-content {
        color: #686868;
    }
}

// for markdown
.blockquote {
    border-left: 0.25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

markdown table {
    border-collapse: collapse;
    border-spacing: 0;
    tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;
        &:nth-child(2n) {
            background-color: #f6f8fa;
        }
    }

    th,
    td {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
    }
}
