mat-sidenav-container {
    height: calc(100vh - 189px);
    background: transparent;
}

mat-nav-list {
    min-width: 150px;
}

mat-sidenav-content {
    padding-left: 50px;
}

.mat-list-item-content {
    justify-content: center;
}

.active {
    transform: scale(1.2);
    color: #f44336;
}
