<form [formGroup]="form" fxLayout="column" class="ratel-form-field">
    <mat-form-field appearance="outline">
        <mat-label>文章标题</mat-label>
        <input matInput placeholder="请输入标题" formControlName="title">
        <mat-error *ngIf="titleCtrl.invalid">{{titleError()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>副标题</mat-label>
        <input matInput placeholder="可以在这里输入一个副标题" formControlName="subtitle">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>作者</mat-label>
        <input matInput formControlName="author">
        <mat-error *ngIf="authorCtrl.invalid">{{authorError()}}</mat-error>
    </mat-form-field>

    <div fxLayout="row wrap" class="form-field">
        <span>文章类型</span>
        <mat-checkbox *ngFor="let item of categories" [(ngModel)]="item.selected" (ngModelChange)="updateCategories()"
            [name]="item.category" [ngModelOptions]="{standalone: true}" [disabled]="isUpdate">{{item.category}}</mat-checkbox>
    </div>
    <mat-error *ngIf="categoryCtrl.invalid && categoryTouched">请至少选择一个和此文章相关的系列</mat-error>

    <div fxLayout="row" class="form-field">
        <span>原创文章</span>
        <mat-checkbox formControlName="isOriginal">声明原创</mat-checkbox>
    </div>

    <div fxLayout="row" class="form-field">
        <span>封面图片</span>
        <mat-radio-group formControlName="isCustomThumbnail">
            <mat-radio-button [value]="false">使用默认图片</mat-radio-button>
            <mat-radio-button [value]="true">自定义图片</mat-radio-button>
        </mat-radio-group>

        <button *ngIf="isCustomThumbnail.value && !form.disabled" mat-raised-button color="primary">
            选择图片
            <input type="file" (change)="fileChangeEvent($event)" />
        </button>
    </div>

    <div *ngIf="isCustomThumbnail.value && !form.disabled && isBrowser" fxLayout="row" class="thumbnail">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="16 / 9"
            [resizeToWidth]="279" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"></image-cropper>

        <img [src]="thumbnail.value" />
    </div>
</form>

<div fxLayout="row" class="full-model ratel-form-field">
    <div fxFlex="48%" class="editor" [@toggleFull]="showPreview ? 'half' : 'full'">
        <ratel-editor (preview)="showPreview = !showPreview" (isPristine)="isPristine.next($event)" [tip]="'文章内容长度最少300个字符'"></ratel-editor>
    </div>


    <div *ngIf="showPreview" fxFlex="48%" fxFlexOffset="4%" @togglePreview class="preview">
        <markdown [data]="editor.data"></markdown>
    </div>
</div>

<div class="submit">
    <ng-container *ngIf="!isUpdate else updateBtnTpl">
        <button mat-raised-button color="primary" (click)="publish(true)" [disabled]="!allowPublish()">立即发表</button>
        <button mat-raised-button color="accent" (click)="publish(false)" [disabled]="!allowPublish()">保存</button>
    </ng-container>

    <ng-template #updateBtnTpl>
        <button *ngIf="!article?.isPublished" mat-raised-button color="primary" (click)="publish(true)">立即发表</button>
        <button mat-raised-button color="accent" (click)="update()">更新</button>
    </ng-template>
</div>
