@import '../../comment/reply-full/reply-full.component';

$white-space: 2em;

.ratel-form-field {
    background: #fff;
    padding: $white-space;
    .form-field {
        margin: 1em 0;
        & > span {
            margin-right: 2em;
        }

        mat-checkbox {
            margin: 0 1em;
        }
    }
}

.submit {
    padding: 0 $white-space 1em;
    background: #fff;
    button:last-child {
        margin-left: 2em;
    }
}
.full-screen {
    justify-content: center !important;
    .editor {
        max-width: 80% !important;
        animation: grow 0.5s linear;
    }
}

@keyframes grow {
    0% {
        max-width: 50%;
    }
    50% {
        max-width: 65%;
    }
    100% {
        max-width: 80%;
    }
}

:host::ng-deep markdown img {
    max-width: 100%;
}
