@import '../../../theme/_variable.theme.scss';
@import '../../comment/reply-full/reply-full.component';

$white-space: 2em;

.ratel-form-field {
    background: #fff;
    padding: $white-space;
    .form-field {
        margin: 1em 0;
        & > span {
            margin-right: 2em;
        }

        mat-checkbox,
        mat-radio-button {
            margin: 0 1em;
        }
        button {
            transform: translateY(-25%);
            @include fileSelectWrapper();
        }
    }
    .thumbnail {
        width: 50%;
        height: 150px;
        image-cropper {
            text-align: left !important;
        }
        img {
            padding: 5px;
        }
    }
}

.submit {
    padding: 0 $white-space 1em;
    background: #fff;
    button:last-child {
        margin-left: $white-space;
    }
}

:host::ng-deep markdown img {
    max-width: 100%;
    margin-left: -$white-space;
}

:host::ng-deep image-cropper .cropper {
    margin-left: 0 !important;
}
